.banner-container {
  display: flex;
  flex-direction: row;

  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;

  background-color: #000;
  color: #fff;

  .left-container {
    display: flex;
    flex-direction: column;

    width: 35%;

    padding-right: 8rem;

    h2 {
      font-size: 50px;
      height: 210px;
      line-height: 50px;
      margin: 1em 0 0.5em;

      font-weight: 100;

      padding: 5px 0 0;

      font-family: Circular Std Medium;

      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;

      text-transform: capitalize;
    }

    a {
      text-decoration: none;
    }

    .thumb-container {
      margin: auto 0 40px;

      .thumb-content {
        display: flex;

        margin-top: auto;

        .button-thumb {
          border-radius: 2.5px;

          margin-right: 11px;

          width: fit-content;

          img {
            display: block;

            width: 100%;
            height: 100%;
          }

          img:hover,
          img:focus {
            border: 4px solid #fff;

            opacity: 1;
          }
        }
      }
    }
  }

  .right-container {
    width: 65%;

    .image-container {
      display: flex;
      box-sizing: border-box;
      margin: 0;

      width: fit-content;

      img {
        box-sizing: border-box;
        padding: 0;
        margin: auto;

        width: 100%;
        height: 100%;

        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .banner-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;

    .left-container {

      h2 {
        margin: .5em 0;
      }
    }
  }
}
