.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 195px;

  margin-right: auto;
  margin-bottom: 0.5rem;

  background-color: #fff;

  transition: color 0.15s ease-in;

  border-radius: 50px;

  opacity: 1;

  span {
    font-family: Circular Std Medium;
    font-weight: 100;

    margin-right: .5rem;

    color: #000;

    text-transform: lowercase;
    text-decoration: none;
  }

}
