.footer-container {
  display: flex;
  flex-direction: row;

  font-size: 0.75rem;

  .left-container {
    display: flex;
    flex-direction: row;

    position: relative;

    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 33%;

    font-size: 0.75rem;

    .corebiz-container {
      width: 50%;

      img {
        width: 115px;
      }

      img:not(:root) {
        overflow: hidden;
      }

      p {
        font-family: Circular Std Book;
        text-transform: lowercase;
      }

      .social-container {
        display: flex;
        flex-direction: row;

        padding: 1rem 0;

        .menu-item {
          list-style-type: none;

          a {


            transition: color 0.15s ease-in;

            opacity: 1;

            text-decoration: none;

            background-color: transparent;

            img {
              height: 14px;
              width:100%;
            }
          }
        }
      }
    }
  }
}
